<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<h1>게시판 리스트</h1>
<form action="#" th:action="@{'/boards'}" th:object="${board}" th:method="post">
    <!--
    <input type="hidden" th:field="*{bno}">
    <input type="hidden" th:field="*{regDate}">
    <input type="hidden" th:field="*{viewcnt}">
    -->
    <p><label>제목</label>
        <input type="text" name ="title" th:field="*{title}"></p>

    <label>내용</label><p>
    <textarea rows="15" cols="65" name = "content" th:field="*{content}"></textarea><p>

    <p><label>작성자</label>
        <input type="text" name="writer" size="15" th:field="*{writer}">
    </p>

    <button th:if="${(board.title == null)}" type = "submit">등록</button>

    <a th:if="${(board.title != null)}" th:href="@{'/boards/'+${board.bno}+'/update'}">수정</a>
    <button type="submit"  th:if="${(board.title != null)}" formaction="remove" formmethod="post">삭제</button>
    <a th:if="${(board.title != null)}" th:href="@{'/boards/'}">목록</a>

</form>
</body>
</html>